#site-header
  padding: 4rem 0
  position: absolute
  top: 0
  left: 0
  right: 0

#site-hero
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  padding: 24rem 0 16rem 0
